@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
  width: 100%;
  height: 100%;
  /*background-color:#f5bd00;*/
}
body {
  width: 100%;
  height: 100%;
  font-family: Ubuntu,Helvetica,Arial,sans-serif;
  font-size: 1.9rem;
  line-height: 2em;
  color: #333;
  font-weight: 400;
}

h1{
  font-size:4rem;
  line-height: 40px;
}
h2{
  font-size:2.5rem;
  line-height: 40px;
}
h3{
  line-height: 40px;
}

.h1-hero{
  font-size:4.5rem;
  line-height: 7rem;
  margin-top:120px;
  color:#ffffff;
  -webkit-text-stroke-color: white;
  text-shadow:0 0 5px #000;
}
.h2-cta{
  color:#ffffff;
}
.intro-txt{
  color:#f5bd00;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  background-color: #f8f8f8;
}
@media (min-width: 767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

.intro-section {
  /*height: 50vh;max-height: 600px;
  background: #f5bd00;*/
  height: 100%;
  height: 80vh;max-height: 800px;
  text-align: left;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./assets/sindjaja.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-section {
  height: 100%;
  padding-top:100px;
  text-align: center;
  background: #eee;
}
.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.locanza-section {
  height: 100%;
  padding-top: 30px;
  text-align: center;
  background: #f5bd00;
}
.contact-section {
  height: 70vh;max-height: 500px;
  padding-top: 100px;
  text-align: center;
  background: #eee;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:30px;
}
li {
    line-height: 2.8em;
}
.icofont-check-circled{
  font-size:3rem;
  color:#f5bd00;
}
.icofont-check-circled .white{
  font-size:3rem;
  color:#ffffff !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.icofont-check:before {
    content: "\eed8";
}
.text-left{
  text-align: left;
}
.jumbotron{
  background-color:none !important;
}
.btn-dark, .btn-dark:active, .btn-dark:focus {
    font-size:20px;
    color: #f5bd00;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#f5bd00;
  text-decoration:none;
}
.footer-links
{
  margin-top:0px;
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  line-height:32px;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#f5bd00;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.twitter:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.linkedin:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.instagram:hover
{
  color:#000000;
  background-color:#f5bd00
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.imgqs{
  width:250px;
  height:250px;
}

@media (max-width:530px){
  .h1-hero{
    font-size:25px;
    line-height:35px;
  }
  .h2-cta{
    font-size:18px;
    line-height:25px;
}
.intro-txt{
  color:#f5bd00;
  line-height:25px;
}
}
