@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
  width: 100%;
  height: 100%;
  /*background-color:#f5bd00;*/
}
body {
  width: 100%;
  height: 100%;
  font-family: Ubuntu,Helvetica,Arial,sans-serif;
  font-size: 1.9rem;
  line-height: 2em;
  color: #333;
  font-weight: 400;
}

h1{
  font-size:4rem;
  line-height: 40px;
}
h2{
  font-size:2.5rem;
  line-height: 40px;
}
h3{
  line-height: 40px;
}
.credo{
  line-height:10px;
  padding-left:4px;
  color:#000000;
  text-transform:uppercase;
}
.h1-hero{
  font-size:70px;
  line-height: 7rem;
  margin-top:120px;
  color:#ffffff;
  -webkit-text-stroke-color: white;
  text-shadow:0 0 5px #000;

}
.h2-cta{
  color:#ffffff;
  text-transform: uppercase;
  -webkit-text-stroke-color: white;
  text-shadow:0 0 5px #000;
}
.wordfan{
  font-size:4.7rem;
  line-height: 45px;
  padding-top:0px;
  margin-bottom:20px;
}
.featured{
  color:red;
}
.startdirect{
  text-transform: uppercase;
}
.intro-txt{
  color:#f5bd00;
  font-size:22px;
}
.hilight{
  color: #000000;
    background: #f5bd00;
    -webkit-transition: background 500ms ease-in;
    -moz-transition: background 500ms ease-in;
    -o-transition: background 500ms ease-in;
    -ms-transition: background 500ms ease-in;
    transition: background 500ms ease-in;
}

.navbar-transparent {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  background-color: #f8f8f8;
}
@media (min-width: 767px) {
  .navbar {
    padding: 10px 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }
}

.intro-section {
  /*height: 50vh;max-height: 600px;
  background: #f5bd00;*/
  height: 100%;
  text-align: left;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./assets/wordfan-header.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-section {
  height: 100%;
  padding-top:100px;
  text-align: center;
  background: #eee;
}
.services-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}
.locanza-section {
  height: 100%;
  padding-top: 30px;
  text-align: center;
  background: #f5bd00;
}
.contact-section {
  height: 70vh;max-height: 550px;
  padding-top: 100px;
  text-align: center;
  background: #eee;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom:60px;
}
li {
    line-height: 2.8em;
}
.card-img .fa{
  font-size:10rem;
  color:#f5bd00;
}
.card-body{
  font-size:16px;
  line-height:26px;
  padding-left:45px;
}

.icofont-check-circled{
  font-size:3rem;
  color:#f5bd00;
}
.icofont-check-circled .white{
  font-size:3rem;
  color:#ffffff !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.icofont-check:before {
    content: "\eed8";
}
.text-left{
  text-align: left;
}
.jumbotron{
  background-color:none !important;
}
.btn-dark, .btn-dark:active, .btn-dark:focus {
    font-size:20px;
    color: #f5bd00;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#f5bd00;
  text-decoration:none;
}
.footer-links
{
  margin-top:0px;
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  line-height:32px;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#f5bd00;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.twitter:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.linkedin:hover
{
  color:#000000;
  background-color:#f5bd00
}
.social-icons a.instagram:hover
{
  color:#000000;
  background-color:#f5bd00
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.imgqs{
  width:250px;
  height:250px;
}


.carousel{
  margin-top: 50px;
}
.carousel-inner{
  height: 100px;
}
.carousel-caption{
  color: #333333;
  top: 50%;
}

@media (max-width:530px){
.h1-hero{
  font-size:25px;
  line-height:35px;
  margin-top:80px;
}
.h2-cta{
  font-size:18px;
  line-height:25px;
  text-transform: uppercase;
  -webkit-text-stroke-color: white;
  text-shadow:0 0 5px #000;
}
.intro-txt{
  color:#f5bd00;
  font-size:18px;
  line-height:25px;
}
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* iphone 5,5s */
 .h1-hero{
  font-size:24px;
  line-height:30px;
  margin-top:80px;
}
.intro-txt{
  color:#f5bd00;
  font-size:15px;
  line-height:25px;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* iphone 6,7,8, portrait */
.h1-hero{
  font-size:27px;
  line-height:39px;
  margin-top:100px;
}
.intro-txt{
  color:#f5bd00;
  font-size:18px;
  line-height:25px;
}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* iphone 6,7,8, landscape */
.h1-hero{
  font-size:27px;
  line-height:39px;
  margin-top:100px;
}
.intro-txt{
  color:#f5bd00;
  font-size:18px;
  line-height:25px;
}
}
.carousel-inner{
      height:200px;
}
#fade-quote-carousel.carousel {
  padding-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #ffffff;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

blockquote p{
  font-size:25px;
  padding:0px 20px;
  color:#ffffff;
}
blockquote p span{
  font-size:16px;
  padding:0px 20px;
  color:#333333;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.emoji {
  width: 80px;
  height: 80px;
  margin: 10px 15px;
  background: #FFDA6A;
  display: inline-block;
  border-radius: 10%;
  position: relative;
  margin-bottom:0px;
}
.emoji:after {
  position: absolute;
  bottom: -40px;
  font-size: 18px;
  width: 60px;
  left: calc(50% - 30px);
  color: #8A8A8A;
}
.emoji__heart{
  position: absolute;
}
.emoji__heart:before, .emoji__heart:after{
  position: absolute;
  content: '';
}
.emoji--love {
  background: #f5bd00;
}
.emoji--love:after {
  content: '';
}
.emoji--love .emoji__heart {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  -webkit-animation: heart-beat 1s linear infinite alternate;
          animation: heart-beat 1s linear infinite alternate;
}
.emoji--love .emoji__heart:before, .emoji--love .emoji__heart:after {
  left: calc(50% - 20px);
  top: calc(50% - 32px);
  width: 40px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
}
.emoji--love .emoji__heart:before {
  -webkit-transform: translate(20px) rotate(-45deg);
          transform: translate(20px) rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.emoji--love .emoji__heart:after {
  -webkit-transform: translate(-20px) rotate(45deg);
          transform: translate(-20px) rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

@-webkit-keyframes heart-beat {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.slide {
		height: 100px;
		width: 250px;
	}
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 120px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
/*carousel*/

.carousel, .carousel-inner {
  width: 360px;
  height: 360px;

  .item {
    overflow: hidden;
    img {
      height: 360px;;
      max-width: none;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
}
